.container {
  width: 350px;
  margin: 100px auto 20px auto;
  padding: 20px;
  background-color: #3ee6d8;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
  align-items: center;
}

img {
  margin-top: 5px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: rgb(229, 237, 240);
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}