.user-card {
  width: 100%;
  padding: 20px;
  background-color: #3ee6d8;
  border-radius: 10px;
    border: 1px solid #000000;
  text-align: center;
  align-items: center;

}

img {
  margin-top: 5px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: rgb(229, 237, 240);
  cursor: pointer;
}

button:hover {
  background-color: blue;
  color: white;
}
.btn-primary {
  background-color: #007bff;
}

.btn-secondary {
  background-color:   #e0b91a;
}

.btn-danger {
  background-color: #dc3545;
}